body {
    background-color: #EFEFEF;
}

#header {
    background-color: #444444;
    height: 16vh;
}



#leftsidebar {
    background-color: #D8D8D8;
    height: 84vh;
    width: 16vw;
    float: left;
}

#rightsidebar {
    background-color: #D8D8D8;
    height: 84vh;
    width: 16vw;
    float: right;
}

#middlesection {
    height: 76vh;
    width: 88vw;
}

footer {
    background-color: #222222;
    height: 8vw;
}